@import "../../colors";
@import "../../mixins";

// Common buttons properties
.badge {
  @include default-border;
  @include default-border-radius;
  @include default-font-family;
  min-height: 2rem;
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  transition-duration: 0.3s;
  outline: none;
  &.badge-primary {
    color: $lightest;
    border: solid 1px $primary-dark;
    background-color: $primary-dark;
  }
  &.badge-secondary {
    color: $lightest;
    border: solid 1px $secondary-dark;
    background-color: $secondary-dark;
  }
  &.badge-sucess {
    color: $lightest;
    background-color: $green-dark;
    border: solid 1px $green-dark;
  }
  &.badge-danger {
    color: $lightest;
    background-color: $red-dark;
    border: solid 1px $red-dark;
  }
  &.badge-default {
    color: $lightest;
    background-color: $mediumdark;
    border: solid 1px $mediumdark;
  }
  &.badge-info {
    color: $lightest;
    background-color: $blue-dark;
    border: solid 1px $blue-dark;
  }
  &.badge-warning {
    color: $lightest;
    background-color: $orange-dark;
    border: solid 1px $orange-dark;
  }
  &.badge-new {
    color: $lightest;
    background-color: $purple-dark;
    border: solid 1px $purple-dark;
  }
}
