@import "../../colors";
@import "../../mixins";

// Common buttons properties
.btn {
  @include default-border;
  @include default-border-radius;
  @include default-font-family;
  cursor: pointer;
  min-height: 2.2rem;
  font-size: 1.125rem;
  padding: 0.5rem 0.75rem;
  transition-duration: 0.3s;
  outline: none;
  &.primary-btn {
    color: $lightest;
    border: solid 1px $primary-dark;
    background-color: $primary-dark;
    &:hover {
      border: solid 1px $primary-dark;
      background-color: $primary-dark;
    }
    &:active {
      background-color: $secondary-dark;
      border: solid 1px $secondary-dark;
    }
    &:disabled {
      color: $light;
      border: solid 1px $primary-medium;
      background-color: $primary-medium;
      cursor: not-allowed;
    }
  }
  &.outline-btn {
    color: $primary-dark;
    background-color: $lightest;
    border: solid 1px $primary-dark;
    &:hover {
      color: $lightest;
      background-color: $primary-dark;
    }
    &:active {
      background-color: $secondary-dark;
      border: solid 1px $secondary-dark;
    }
    &:disabled {
      color: $primary-light;
      background-color: $lightest;
      border: solid 1px $primary-light;
      cursor: not-allowed;
    }
  }
}

.link {
  @include default-font-family;
  cursor: pointer;
  color: $primary-dark;
  font-size: 1.125rem;
  &:hover {
    color: $primary-dark;
  }
  &:active {
    color: $secondary-dark;
  }
}

.disabled {
  color: $primary-light;
  cursor: not-allowed;
  pointer-events: none;
}
