@import "../../../colors";
@import "../../../mixins";

.header-menu-item {
  @include default-font-family;
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  &.primary {
    color: $primary-dark;
  }
  &.white {
    color: $lightest;
  }
  &.current {
    font-weight: 600;
  }
  &:hover{
    text-decoration: underline;
  }
}

