@import "../../../colors";
@import "../../../mixins";

// Common buttons properties
.header {
  @include default-font-family;
  text-decoration: none;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.primary {
    background-color: $primary-dark;
  }
  &.white {
    background-color: $lightest;
  }
  &.sticky {
    position: sticky;
  }
}
