@import "../colors.scss";
@import "../mixins";

.primary {
  fill: $primary-dark;
}
.secondary {
  fill: $secondary-dark;
}

.white {
  fill: $lightest;
}

.red {
  fill: $red-dark;
}

.green {
  fill: $green-dark;
}
