$primary-dark: #0e2356;
$primary-mediumdark: #3b4270;
$primary-medium: #61648c;
$primary-mediumlight: #8788a7;
$primary-light: #aeaec4;
$secondary-dark: #00afcb;
$secondary-mediumdark: #57bcd4;
$secondary-medium: #80cadc;
$secondary-mediumlight: #a2d7e5;
$secondary-light: #c2e4ee;
$yellow-ocac-dark: #ffb600;
$yellow-ocac-mediumdark: #ffc246;
$yellow-ocac-medium: #ffce6e;
$yellow-ocac-mediumlight: #ffda93;
$yellow-ocac-light: #ffe6b7;
$black-ocac-dark: #1d1d1b;
$black-ocac-mediumdark: #3d3d3b;
$black-ocac-medium: #5f5f5e;
$black-ocac-mediumlight: #858583;
$black-ocac-light: #acacab;
$orange-dark: #ff7325;
$orange-mediumdark: #ff8c4c;
$orange-medium: #ffa36f;
$orange-mediumlight: #ffba92;
$orange-light: #ffd1b6;
$purple-dark: #8b69d3;
$purple-mediumdark: #a081db;
$purple-medium: #b499e2;
$purple-mediumlight: #c7b2ea;
$purple-light: #dacbf1;
$blue-dark: #14c4b3;
$blue-mediumdark: #5acebf;
$blue-medium: #82d8cc;
$blue-mediumlight: #a4e2d8;
$blue-light: #c3ece5;
$green-dark: #2bc82b;
$green-mediumdark: #62d254;
$green-medium: #87dc78;
$green-mediumlight: #a8e599;
$green-light: #c6eebb;
$red-dark: #ff4338;
$red-mediumdark: #ff6a57;
$red-medium: #ff8b77;
$red-mediumlight: #ffa997;
$red-light: #ffc6b9;
$yellow-dark: #ffed00;
$yellow-mediumdark: #fff04f;
$yellow-medium: #fff277;
$yellow-mediumlight: #fff59b;
$yellow-light: #fff8bd;
$darkest: #333333;
$darker: #444444;
$dark: #666666;
$mediumdark: #999999;
$medium: #dddddd;
$mediumlight: #eeeeee;
$light: #f3f3f3;
$lighter: #f8f8f8;
$lightest: #ffffff;

:export {
  primaryDark: $primary-dark;
  primaryMediumDark: $primary-mediumdark;
  primaryMedium: $primary-medium;
  primaryMediumLight: $primary-mediumlight;
  primaryLight: $primary-light;
  secondaryDark: $secondary-dark;
  secondaryMediumDark: $secondary-mediumdark;
  secondaryMedium: $secondary-medium;
  secondaryMediumLight: $secondary-mediumlight;
  secondaryLight: $secondary-light;
  yellowOcacDark: $yellow-ocac-dark;
  yellowOcacMediumDark: $yellow-ocac-mediumdark;
  yellowOcacMedium: $yellow-ocac-medium;
  yellowOcacMediumLight: $yellow-ocac-mediumlight;
  yellowOcacLight: $yellow-ocac-light;
  blackOcacDark: $black-ocac-dark;
  blackOcacMediumDark: $black-ocac-mediumdark;
  blackOcacMedium: $black-ocac-medium;
  blackOcacMediumLight: $black-ocac-mediumlight;
  blackOcacLight: $black-ocac-light;
  orangeDark: $orange-dark;
  orangeMediumDark: $orange-mediumdark;
  orangeMedium: $orange-medium;
  orangeMediumLight: $orange-mediumlight;
  orangeLight: $orange-light;
  purpleDark: $purple-dark;
  purpleMediumDark: $purple-mediumdark;
  purpleMedium: $purple-medium;
  purpleMediumLight: $purple-mediumlight;
  purpleLight: $purple-light;
  blueDark: $blue-dark;
  blueMediumDark: $blue-mediumdark;
  blueMedium: $blue-medium;
  blueMediumLight: $blue-mediumlight;
  blueLight: $blue-light;
  greenDark: $green-dark;
  greenMediumDark: $green-mediumdark;
  greenMedium: $green-medium;
  greenMediumLight: $green-mediumlight;
  greenLight: $green-light;
  redDark: $red-dark;
  redMediumDark: $red-mediumdark;
  redMedium: $red-medium;
  redMediumLight: $red-mediumlight;
  redLight: $red-light;
  yellowDark: $yellow-dark;
  yellowMediumDark: $yellow-mediumdark;
  yellowMedium: $yellow-medium;
  yellowMediumLight: $yellow-mediumlight;
  yellowLight: $yellow-light;
  darkest: $darkest;
  darker: $darker;
  dark: $dark;
  mediumDark: $mediumdark;
  medium: $medium;
  mediumLight: $mediumlight;
  light: $light;
  lighter: $lighter;
  lightest: $lightest;
}
