$primary-dark: #0e2356;
$primary-mediumdark: #3b4270;
$primary-medium: #61648c;
$primary-mediumlight: #8788a7;
$primary-light: #aeaec4;
$primary-lightest: #F0F0F7;
$secondary-dark: #00afcb;
$secondary-mediumdark: #57bcd4;
$secondary-medium: #80cadc;
$secondary-mediumlight: #a2d7e5;
$secondary-light: #c2e4ee;
$orange-dark: #ff7325;
$orange-mediumdark: #ff8c4c;
$orange-medium: #ffa36f;
$orange-mediumlight: #ffba92;
$orange-light: #ffd1b6;
$purple-dark: #8b69d3;
$purple-mediumdark: #a081db;
$purple-medium: #b499e2;
$purple-mediumlight: #c7b2ea;
$purple-light: #dacbf1;
$blue-dark: #14c4b3;
$blue-mediumdark: #5acebf;
$blue-medium: #82d8cc;
$blue-mediumlight: #a4e2d8;
$blue-light: #c3ece5;
$green-dark: #2bc82b;
$green-mediumdark: #62d254;
$green-medium: #87dc78;
$green-mediumlight: #a8e599;
$green-light: #c6eebb;
$red-dark: #ff4338;
$red-mediumdark: #ff6a57;
$red-medium: #ff8b77;
$red-mediumlight: #ffa997;
$red-light: #ffc6b9;
$yellow-dark: #ffed00;
$yellow-mediumdark: #fff04f;
$yellow-medium: #fff277;
$yellow-mediumlight: #fff59b;
$yellow-light: #fff8bd;
$darkest: #0F1415;
$darker: #415053;
$dark: #657578;
$mediumdark: #95A7A9;
$medium: #C2D2D5;
$mediumlight: #D6E3E4;
$light: #E5EDEE;
$lighter: #FBFBFB;
$lightest: #ffffff;
