@import "../../../colors";
@import "../../../mixins";

// Common buttons properties
.header-action-item {
  @include default-font-family;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  &.primary{
    color: $primary-dark;
  }
  &.white{
    color: $lightest;
  }
  &.current{
    font-weight: 600;
    text-decoration: underline;
  }
}


li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 20px;
  &:last-child {
    margin: 0;
  }
}
